@page "/auth/login"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model MachineLicenseManagement.WebKeyGen.Pages.Auth.LoginModel
<h3>Login stub page</h3>
