@page "/auth2"

@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize(Policy = "AuthenticatedUser")] *@
<PageTitle>Auth</PageTitle>




<AuthorizeView>
    <Authorized>
    <h1>You are authenticated</h1>
    Hello @context.User.Identity?.Name!
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to view this page.</h3>
        <p>Please log in to access this content.</p>
        <a href="login">Login</a>
    </NotAuthorized>
</AuthorizeView>
