
// Angular Material theming
@use '@angular/material' as mat;

html {
  @include mat.theme(( color: ( primary: mat.$azure-palette, tertiary: mat.$blue-palette, ), typography: Roboto, density: 0, ));
}

/* DVS Design System Global Variables */
:root {
  /* DVS Layout */
  --page-background: var(--color-dark-blue);
  --container-margin: 38px;
  --container-margin-mobile: 20px;
  --max-container-width: 1440px;
  --min-container-width: 375px;
  /* DVS Typography */
  --font-family: "Frutiger LT", Helvetica, Arial, sans-serif;
  --main-font-size: 16px;
  --main-line-height: 1.5em;
  --main-text-color: var(--color-light-grey);
  /* DVS Color Palette */
  --color-dark-blue: #212b3e;
  --color-light-grey: #e0e0e0;
  --color-white: #ffffff;
}

dvs-button {
  --font-size: 14px;
  --padding: 12px 24px;
  --border-radius: 4px;
}

dvs-datatable {
  --header-background: var(--color-medium-blue);
  --row-hover-background: rgba(255, 255, 255, 0.05);
}

dvs-input {
  --border-color: var(--color-medium-grey);
  --focus-border-color: var(--color-light-blue);
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

body {
  color-scheme: light;
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  background-color: var(--page-background);
}
