<h2>Kundenliste</h2>
<button routerLink="/customers/new" class="create-btn">
  + Neuer Kunde
</button>
<div *ngIf="isLoading" class="loading">
  Lädt Kunden...
</div>

<table *ngIf="!isLoading" border="1" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Adresse</th>
      <th>PLZ</th>
      <th>Stadt</th>
      <th>Land</th>
      <th>Kommentar</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.zip }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.country }}</td>
      <td>{{ customer.comment }}</td>
      <td class="actions">
        <button class="btn-edit"
                (click)="editCustomer(customer.id)">
          Bearbeiten
        </button>
        <button class="btn-delete"
                (click)="deleteCustomer(customer.id)">
          Löschen
        </button>
      </td>
    </tr>
  </tbody>
</table>
